<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="table"></table>
    </div>
</div>
<script>
    @layout("/layout/layui.html"){
        var columnData = [
            {
                name: 'name',
                label: '名称',
                sorting: 'DESC'
            },{
                name: 'info',
                label: '使用说明',
            },{
                name: 'url',
                label: 'url'
            },{
                name: 'createDate',
                label: '创建时间',
                template: function(createDate, rowObject){
                    return new Date(createDate).format('YYYY-MM-DD HH:mm:ss');
                }
            },{
                name: 'lastDate',
                label: '最后修改时间',
                template: function(lastDate, rowObject){
                    return new Date(lastDate).format('YYYY-MM-DD HH:mm:ss');
                }
            },{
                name: 'action',
                label: '操作',
                template: function(action, rowObject){
                    return '<span class="plugin-action edit-action" learnLink-id="'+rowObject.id+'">编辑</span>'
                        +'<span class="plugin-action del-action" learnLink-id="'+rowObject.id+'">删除</span>';
                }
            }
        ];
        $.Application.getTable({
            element : $('#table')
            ,url : '${ctxPath}/sysmm/menu/getMenuInfo'
            , params : {pluginId: 1}
            , columns : columnData
            , options : {}
            , toolbar : [
                { label : '新增' , icon : 'fa-plus' , handler : function ( e ) {
                    $.getJSON('${ctxPath}/json/init.json',function (data) {
                        $.each(data.menuInfo , function (i , o) {
                            var sysId = '';
                            if (o.title == '系统管理'){
                                sysId = 'SYSMM';
                            }
                            if (o.title == '组件管理'){
                                sysId = 'PLUGIN';
                            }
                            if (o.title == '其它管理'){
                                sysId = 'OTHER';
                            }
                            a(sysId , sysId , '' , o);
                        });
                    });
                }},
                { label : '删除' , icon : 'fa-trash' , handler : function ( e ) {
                    console.log("这是删除！");
                }}
            ]
        });
        function a( sysId , parentId , path , bb ) {
            if (!bb.child){
                return;
            }
            $.each(bb.child , function (i , o) {
                var menu = {};
                var menuId = parentId + getId(i + 1);
                var menuPath = path + '/' + menuId;
                menu.sysId = sysId;
                menu.menuId = menuId;
                menu.menuName = o.title;
                menu.menuType = 'menu';
                menu.menuIcon = o.icon;
                menu.menuUrl = o.href || '#';
                menu.menuParentId = parentId || '';
                menu.menuPath = menuPath;
                menu.menuOrder = i + 1;
                menu.menuClass = 'sysMenuService';
                menu.menuTarget = o.target;
                $.post('${ctxPath}/sysmm/menu/saveMenuInfo' ,menu, function (data) {
                    console.log(data)
                });
                a(sysId , menuId , menuPath , o)
            });
        }
        function getId(ii) {
            var id = '';
            for (var i = 0 ; i < 3 - (ii+'').length ; i ++){
                id += '0';
            }
            return id + ii;
        }
    @}
</script>