<style>

</style>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md3">
                <div class="layui-card box-shadow">
                    <div class="layui-card-header"><i class="fa fa-tree"></i> 菜单结构</div>
                    <div class="layui-card-body">
                        <div id="menuTree" class="ztree" ></div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md9">
                <div class="layui-card box-shadow">
                    <div class="layui-card-header"><i class="fa fa-list"></i> 菜单列表</div>
                    <div class="layui-card-body">
                        <table id="menuGird" > </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
        <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
    </div>
</script>
<script>
    layui.use(['layer' , 'customer_tree' , 'customer_grid'], function () {
        var layer = layui.layer,
            cusTree = layui.customer_tree,
            cusGrid = layui.customer_grid,
            cusGridId = new Date().getTime(),
            currentSysId = '${sysId}',
            currentMenuId = '${menuId}';
        /**
         * 开始渲染自定义树形结构
         */
        cusTree.render({
            elem : '#menuTree',
            url : 'tree/menu',
            height : 'full-300'
        });

        /**
         * 设置表格列
         */
        var cusGirdCol = [[
            {
                type: 'radio'
                , width: 50
            },
            {
                title : '序号'
                , type: 'numbers'
                , width: 50
            },
            {
                field : 'sysId'
                , title : '系统名称'
                , align: 'left'
                , templet : function (d) {
                    return '<span style="color: #1E9FFF"> [ ' + d.sysId+ ' ] </span><span>' + $.cusFn.getDict(currentSysId , 'SYSTEM_NAME' , d.sysId ) + '</span>'
                }
            },
            {
                field : 'menuId'
                , align: 'left'
                , title : '菜单编号'
            },
            {
                field : 'menuName'
                , align: 'left'
                , title : '菜单名称'
            },
            {
                field : 'menuType'
                , title : '菜单类型'
                , templet : function (d) {
                    return '<span style="color: #FF5722">' + $.cusFn.getDict(currentSysId , 'RESOURCE_TYPE' , d.menuType ) + '</span>'
                }
            },
            {
                field : 'menuIcon'
                , title : '菜单图标'
                , align: 'center'
                , templet : function (d) {
                    return '<i class="' + d.menuIcon + '"></i>';
                }
            },
            {
                field : 'menuUrl'
                , align: 'left'
                , title : '菜单链接'
            }
        ]];
        /**
         * 渲染表格
         */
        var cusGridOption = {
            id : cusGridId,
            elem : '#menuGird',
            url : 'sysmm/menu/getMenuList',
            height : 'full-300',
            cols : cusGirdCol,
            listener : {
                row : function (obj) {
                    console.log($.cus.dict);
                }
            }
        };

        /**
         * 如果表格高度改变 树形框也跟着改变
         */
        $('#menuGird').resize(function () {
            $('#menuTree').height($(this).height());
        });

        cusGridOption = cusGrid.render(cusGridOption);
    });
</script>
