<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csx.common.mapper.SysConfigMapper">

    <!--系统配置表所有的列-->
    <sql id="sysConfigColSql">
        sci.item_id, sci.item_name, sci.item_val, sci.item_defval, sci.item_type, sci.item_conf, sci.item_desc,
        sci.item_group, sci.item_order, sci.item_enable, sci.comm_cdate, sci.comm_udate, sci.comm_cuser, sci.comm_uuser,
        sci.comm_delfalg, sci.comm_v1, sci.comm_v2, sci.comm_v3, sci.comm_v4, sci.comm_v5
    </sql>
    <!--子系统配置表所有的列-->
    <sql id="sysSubConfigColSql">
        ssi.sys_id , ssi.item_id, ssi.item_name, ssi.item_val, ssi.item_defval, ssi.item_type, ssi.item_conf, ssi.item_desc,
        ssi.item_group, ssi.item_order, ssi.item_enable, ssi.comm_cdate, ssi.comm_udate, ssi.comm_cuser, ssi.comm_uuser,
        ssi.comm_delfalg, ssi.comm_v1, ssi.comm_v2, ssi.comm_v3, ssi.comm_v4, ssi.comm_v5
    </sql>
    <!-- 获取所有的系统配置 -->
    <select id="getSysConfigAll" resultType="com.csx.common.entity.SysConfig">
        select <include refid="sysConfigColSql"/> from sys_config_info sci where sci.item_enable = 'Y' and sci.comm_delfalg = 'N'
    </select>

    <!-- 获取所有的子系统配置 -->
    <select id="getSysSubConfigAll" resultType="com.csx.common.entity.SysConfig">
        select <include refid="sysSubConfigColSql"/> from sys_subconfig_info ssi where ssi.item_enable = 'Y' and ssi.comm_delfalg = 'N'
    </select>

</mapper>