<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csx.common.mapper.SysConfigMapper">

    <!--系统配置表所有的列-->
    <sql id="sysConfigColSql">
        sci.item_id, sci.item_name, sci.item_val, sci.item_defval, sci.item_type, sci.item_conf, sci.item_desc,
        sci.item_group, sci.item_order, sci.item_enable, sci.comm_cdate, sci.comm_udate, sci.comm_cuser, sci.comm_uuser,
        sci.comm_delfalg, sci.comm_v1, sci.comm_v2, sci.comm_v3, sci.comm_v4, sci.comm_v5
    </sql>
    <!--子系统配置表所有的列-->
    <sql id="sysSubConfigColSql">
        ssi.sys_id , ssi.item_id, ssi.item_name, ssi.item_val, ssi.item_defval, ssi.item_type, ssi.item_conf, ssi.item_desc,
        ssi.item_group, ssi.item_order, ssi.item_enable, ssi.comm_cdate, ssi.comm_udate, ssi.comm_cuser, ssi.comm_uuser,
        ssi.comm_delfalg, ssi.comm_v1, ssi.comm_v2, ssi.comm_v3, ssi.comm_v4, ssi.comm_v5
    </sql>
    <!-- 获取所有的系统配置 -->
    <select id="getSysConfigAll" resultType="com.csx.common.entity.SysConfig">
        select <include refid="sysConfigColSql"/> from sys_config_info sci where sci.item_enable = 'Y' and sci.comm_delfalg = 'N'
    </select>

    <!-- 获取所有的子系统配置 -->
    <select id="getSysSubConfigAll" resultType="com.csx.common.entity.SysConfig">
        select <include refid="sysSubConfigColSql"/> from sys_subconfig_info ssi where ssi.item_enable = 'Y' and ssi.comm_delfalg = 'N'
    </select>

    <!-- 更新系统配置信息 -->
    <update id="setConfig" parameterType="com.csx.common.entity.SysConfig">
        update sys_config_info
        <trim prefix=" set " prefixOverrides=",">
            <if test="config.itemName != null ">
                , item_name = #{config.itemName}
            </if>
            <if test="config.itemVal != null ">
                , item_val = #{config.itemVal}
            </if>
            <if test="config.itemDefval != null ">
                , item_defval = #{config.itemDefval}
            </if>
            <if test="config.itemType != null ">
                , item_type = #{config.itemType}
            </if>
            <if test="config.itemConf != null ">
                , item_conf = #{config.itemConf}
            </if>
            <if test="config.itemDesc != null ">
                , item_desc = #{config.itemDesc}
            </if>
            <if test="config.itemGroup != null ">
                , item_group = #{config.itemGroup}
            </if>
            <if test="config.itemOrder != null ">
                , item_order = #{config.itemOrder}
            </if>
            <if test="config.itemEnable != null ">
                , item_enable = #{config.itemEnable}
            </if>
            <if test="config.commCdate != null ">
                , comm_cdate = #{config.commCdate}
            </if>
            <if test="config.commUdate != null ">
                , comm_udate = #{config.commUdate}
            </if>
            <if test="config.commCuser != null ">
                , comm_cuser = #{config.commCuser}
            </if>
            <if test="config.commUuser != null ">
                , comm_uuser = #{config.commUuser}
            </if>
            <if test="config.commDelfalg != null ">
                , comm_delfalg = #{config.commDelfalg}
            </if>
            <if test="config.commV1 != null ">
                , comm_v1 = #{config.commV1}
            </if>
            <if test="config.commV1 != null ">
                , comm_v2 = #{config.commV2}
            </if>
            <if test="config.commV1 != null ">
                , comm_v3 = #{config.commV3}
            </if>
            <if test="config.commV1 != null ">
                , comm_v4 = #{config.commV4}
            </if>
            <if test="config.commV1 != null ">
                , comm_v5 = #{config.commV5}
            </if>
        </trim>
        <where>
            item_id = #{config.itemId}
        </where>
    </update>

    <!-- 更新子系统配置信息 -->
    <update id="setSubConfig" parameterType="com.csx.common.entity.SysConfig">
        update sys_subconfig_info
        <trim prefix=" set " prefixOverrides=",">
            <if test="config.itemName != null ">
                , item_name = #{config.itemName}
            </if>
            <if test="config.itemVal != null ">
                , item_val = #{config.itemVal}
            </if>
            <if test="config.itemDefval != null ">
                , item_defval = #{config.itemDefval}
            </if>
            <if test="config.itemType != null ">
                , item_type = #{config.itemType}
            </if>
            <if test="config.itemConf != null ">
                , item_conf = #{config.itemConf}
            </if>
            <if test="config.itemDesc != null ">
                , item_desc = #{config.itemDesc}
            </if>
            <if test="config.itemGroup != null ">
                , item_group = #{config.itemGroup}
            </if>
            <if test="config.itemOrder != null ">
                , item_order = #{config.itemOrder}
            </if>
            <if test="config.itemEnable != null ">
                , item_enable = #{config.itemEnable}
            </if>
            <if test="config.commCdate != null ">
                , comm_cdate = #{config.commCdate}
            </if>
            <if test="config.commUdate != null ">
                , comm_udate = #{config.commUdate}
            </if>
            <if test="config.commCuser != null ">
                , comm_cuser = #{config.commCuser}
            </if>
            <if test="config.commUuser != null ">
                , comm_uuser = #{config.commUuser}
            </if>
            <if test="config.commDelfalg != null ">
                , comm_delfalg = #{config.commDelfalg}
            </if>
            <if test="config.commV1 != null ">
                , comm_v1 = #{config.commV1}
            </if>
            <if test="config.commV1 != null ">
                , comm_v2 = #{config.commV2}
            </if>
            <if test="config.commV1 != null ">
                , comm_v3 = #{config.commV3}
            </if>
            <if test="config.commV1 != null ">
                , comm_v4 = #{config.commV4}
            </if>
            <if test="config.commV1 != null ">
                , comm_v5 = #{config.commV5}
            </if>
        </trim>
        <where>
            sys_id = #{config.sysId} and item_id = #{config.itemId}
        </where>
    </update>
</mapper>