.bounce {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #000000;
  height: 100%;
  font: normal bold 6rem "Product Sans", sans-serif;
  white-space: nowrap;
}

.letter {
  animation: bounce 0.75s cubic-bezier(0.05, 0, 0.2, 1) infinite alternate;
  display: inline-block;
  transform: translate3d(0, 0, 0);
  margin-top: 4em;
  text-shadow: rgba(236, 58, 58, 0.4) 0 0 0.05em;
  font: normal 500 1rem 'Varela Round', sans-serif;
  font-weight: bold;
}
.letter:nth-child(1) {
  animation-delay: 0s;
}
.letter:nth-child(2) {
  animation-delay: 0.0833333333s;
}
.letter:nth-child(3) {
  animation-delay: 0.1666666667s;
}
.letter:nth-child(4) {
  animation-delay: 0.25s;
}
.letter:nth-child(5) {
  animation-delay: 0.3333333333s;
}
.letter:nth-child(6) {
  animation-delay: 0.4966666667s;
}
.letter:nth-child(7) {
  animation-delay: 0.5766666667s;
}
.letter:nth-child(8) {
  animation-delay: 0.6066666667s;
}
.letter:nth-child(9) {
  animation-delay: 0.6566666667s;
}
.letter:nth-child(10) {
  animation-delay: 0.7066666667s;
}
.letter:nth-child(11) {
  animation-delay: 0.7566666667s;
}
.letter:nth-child(12) {
  animation-delay: 0.8066666667s;
}
.letter:nth-child(13) {
  animation-delay: 0.8566666667s;
}
.letter:nth-child(14) {
  animation-delay: 0.9066666667s;
}
.letter:nth-child(15) {
  animation-delay: 0.9566666667s;
}

@keyframes bounce {
  0% {
    transform: translate3d(0, 0, 0);
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 0.05em;
  }
  100% {
    transform: translate3d(0, -1em, 0);
    text-shadow: rgba(255, 255, 255, 0.4) 0 1em 0.35em;
  }
}
