<!-- templates\layout\footer.html -->
${layoutContent!}
<script>
    layui.use(['layer', 'customer','miniTongji'], function () {
        var layer = layui.layer, customer = layui.customer, miniTongji = layui.miniTongji ;
        /** 自定义渲染    */
        customer.render(${customerOptions!});
        // 百度统计代码，只统计指定域名
        miniTongji.render({
            specific: true,
            domains: [
                '99php.cn',
                'layuimini.99php.cn',
                'layuimini-onepage.99php.cn',
            ],
        });

        $('.login-out').on("click", function () {
            layer.msg('退出登录成功！', $.Application.ICON_SUCCESS , function () {
                window.location = '${ctxPath}page/login';
            });
        });
    });
</script>